@import url('https://fonts.googleapis.com/css?family=Lora:400,700&subset=latin,cyrillic');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic');
                        
                        .block {
                            float: left;
                        }   
                        
                        #blockkk {
                            float: left;
                        }

                        .selector {
                            width: 270px;
                            height: 110px;
                            background-color: rgb(255, 230, 0);
                            border: 5px double rgb(66, 66, 66);
                            float: left;
                            opacity: 0.85;
                            padding: 10px;
                            font-family: 'Lora', serif;
                            margin-left: 60px;
                        }
                        
                        .selector:hover {
                            opacity: 0.92;
                            background-color: rgb(239, 215, 0);
                        }
                        
                        .form {
                            width: 200px;
                            display: block;
                            border: 1.5px solid rgb(66, 66, 66);
                            background-color: rgb(226, 226, 226);
                        }
                        
                        #header1 {
                            background-color: rgb(66, 66, 66);
                            border: 4px dotted rgb(255, 217, 0);
                            text-align: center;
                            font-size: 60px;
                            padding-top: 80px;
                            font-family: 'Lora', serif;
                            text-transform: uppercase;
                            padding-bottom: 15px; 
                            opacity: 0.93;   
                            text-shadow: -5px 5px 8px rgb(30, 33, 30);
                        }

                        #header1:hover {
                            opacity: 0.95; 
                            text-shadow: -7px 6px 8px rgb(20, 22, 20);
                            background-color: rgb(66, 66, 66);
                            border: 4px dotted rgb(239, 199, 1);
                        }
                        
                            .subheader {
                                border: 1px double rgb(211, 211, 211);
                                width: 92%;
                                margin-top: -35px;
                                float: center;
                                margin-bottom: 45px;
                                margin-left: 4%;
                                height: 200px;
                                padding-top: 10px;
                            }
                        
                            #calc {
                                color:rgb(183, 255, 147);
                                font-family: 'Lora', serif;
                            }
                        
                        .choose {
                            font-family: 'Comfortaa', cursive;
                            width: 270px;
                            border-bottom: 5px double rgb(211, 211, 211);
                            border-top: 5px double rgb(211, 211, 211);
                            height: 110px;
                            padding-top: 20px;
                            text-transform: uppercase;
                            background-color: rgb(255, 251, 224);
                            opacity: 0.55;
                            text-shadow: -2px 2px 6px rgb(91, 91, 91); 
                            text-align: center;
                            padding-left: 10px;
                            padding-right: 10px;
                            font-size: 20px;
                        }
                        
                        .choose:hover {
                            text-shadow: -2px 2px 8px rgb(67, 67, 67);
                            opacity: 0.68;
                        }
                        
                        #obvl {
                            border-bottom: 5px double rgb(66, 66, 66);
                            border-left: 5px double rgb(66, 66, 66);
                        }
                        
                        #obvr {
                            border-top: 5px double rgb(66, 66, 66);
                            border-right: 5px double rgb(66, 66, 66);
                            text-align: left;
                            padding-left: 75px;
                            
                        }
                        
                        #button {
                            border: 5px double rgb(66, 66, 66);
                            width: 200px;
                            height: 200px;
                            border-radius: 100px;
                            background-color: rgb(183, 255, 147);
                            opacity: 0.85;
                            font-family: 'Comfortaa', cursive;
                            text-transform: uppercase;
                            float: right;
                            font-size: 14px;
                            text-shadow: -0.4px 1px 2.5px rgb(98, 111, 99);
                            margin-top: -100px;
                        }
                        
                        #button:hover {
                            background-color: rgb(156, 220, 123);
                            text-shadow: -1px 1px 3px rgb(74, 84, 75);
                        }
                        
                        #button:active {
                            background-color: rgb(143, 183, 122);
                            text-shadow: -1px 1px 3px rgb(64, 70, 65);
                        }
                        
                        #krug {
                            border: 3px double gray;
                            width: 300px;
                            height: 300px;
                            border-radius: 150px;
                            float: right;
                            margin-right: -20px;
                            margin-top: -250px;
                            margin-left: 250px;
                        }
                        
                        #krugg {
                            border: 3px double gray;
                            width: 450px;
                            height: 450px;
                            border-radius: 250px;
                            float: right;
                            margin-right: -10px;
                            margin-top: 40px;
                            margin-right: 30px;
                            margin-left: 300px;
                        }
                        
                        #pic {
                            width: 115px;
                            transform: rotate(63deg);
                            float: right;
                            margin-right: -245px;
                            opacity: 0.93;
                            margin-top: -30px;
                        }
                        
                        body {
                            background: url(https://i.mycdn.me/i?r=AyH4iRPQ2q0otWIFepML2LxRhRMRbrrgRPcG8QGiyK-gJg&dpr=2&fn=w_790)
                        }

                        #highline2 {
                            margin-top: 25px;
                            margin-left: -20px;
                        }

                        #knopka {
                            margin-right: 100px;
                            margin-top: -300px;
                        }
                        