body {
    font-size: 16px;
    background-color: rgb(229, 250, 194);
}

#app {
    margin: 200px;
    background-color: rgb(254, 255, 239);
    height: 500px;
    width: 70%;
    border-radius: 10px;
    margin-top: 70px;
}

#title {
    text-align: center;
}

.selector {
    height: 125px;
    margin-top: 10px;
    background-color: bisque;
    width: 50%;
}

#selector1 {
    margin-left: 20px;
    float: left;
}

#selector2 {
    margin-left: 220px;
    float: left;
}

#selector3 {
    float: right;
    margin-right: 20px;
    
}

.js-choice {
    width: 200px;
    height: 100px;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .card {
    background-color: bisque;
    height: 500px;
    width: 70%;
    border-radius: 10px;
} */